body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto Mono', monospace;
}

input[type='text'] {
  font-family: 'Roboto Mono', monospace;
  width: 350px;
}

button {
  max-height: 25px;

  font-family: 'Roboto Mono', monospace;
}

.pokemon-img-wrapper {
  height: 300px;
  width: 300px;
}

.pokemon-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.pokedex {
  margin: 30px;
  display: grid;
  justify-items: center;
  gap: 20px;
}

.info-buttons {
  display: flex;
  justify-content: center;
  width: 90px;
}

#fields {
  width: 250px;

  display: grid;
  align-content: center;

  gap: 5px;
}

.description {
  padding-left: 15px;

  text-overflow: clip;

  width: 490px;
  height: 90px;

  background-color: tomato;

  display: grid;
  align-content: center;

  font-size: 12px;
}
