.screen-search input[type="text"] {
    width: 140px;
    position: relative;
    top: 35px;
    left: 4px;
    background-color: transparent;
    border: 0;
    z-index: 1;
}

.screen-search input[type="text"]:focus {
    outline: none;
}